services:
  chopper:
    build: .
    env_file:
      - cmd/.env
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
  
  postgres:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: chopper_database
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d chopper_database"]
      interval: 10s
      timeout: 5s
      retries: 5
